.top-bar-title a{
	font-size: 2em;
	color: white;
}
.top-bar{
	  background-color: #3933aa;
}
.image-user {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #3933aa;
}
.vertical_menu a{
	color: black;
}
.menu a{
	color: black;
}
.menu :hover{
	background-color: #3933aa;
	color: white;
}
.image-login{
	width: 200px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.top-bar-right ul{
	background-color: #3933aa;
}
.dropdown.menu>li.opens-left>.is-dropdown-submenu{
	background-color: white;
}
