html, body {
	height: 100%;
	background-color: #fafafa;
}
p{
  font-family: 'Roboto', sans-serif;
}
li{
  font-family: 'Roboto', sans-serif;
}
span{
  font-family: 'Roboto', sans-serif;
}
.nav {
	top: initial;
}

.off-canvas-wrapper {
	min-height: 100%;
}

main {
	padding-bottom: 100px;
}
.container{
	width: 100%;
	margin: auto;
}

.page-title {
	margin-top: 10px;
}
.tasklist {
	list-style: none;
  padding: 0;
	margin: auto;
}

.tasklist-header-list, .tasklist-item{
		width: 100%;
}
.tasklist-header{
background: #292c2f;
color: white;
padding-bottom: 20px;
padding-top: 20px
}
.tasklist-header-list {
  font-weight: bold;
}
.tasklist-header{
	background: #292c2f;
	color:white;
}

.tasklist-item-id{
	display: inline-block;
	width: 100px;
	margin-left: 30px;
	width: 30px;
	display: inline;
	@media screen and (max-width: 500px) {
		display: none;
	}
	@media screen and (min-width: 1590px) {
		margin-left: 22%;
	}
}
.tasklist-item-priority{
	display: inline-block;
	margin-left: 30px;
	width: 30px;
	@media screen and (max-width: 1112px) {
		display: none;
	}
}
.tasklist-item-description{
	display: inline-block;
	width: 200px;
	margin-left: 30px;
	@media screen and (max-width: 657px) {
		width: 100px;
	}
}
.tasklist-item-creator{
	display: inline-block;
	margin-left: 30px;
	width: 100px;
	@media screen and (max-width: 1325px) {
		display: none;
	}
}
.tasklist-item-assigned{
	display: inline-block;
	margin-left: 30px;
	width: 100px;
}
.tasklist-item-due{
	display: inline-block;
	margin-left: 30px;
	width: 120px;
}
.tasklist-item-actions{
	display: inline-block;
	margin-left: 30px;
	width: 60px;
}
.tasklist-item-actions .fa-check {
  color: green;
}

.tasklist-item-actions .fa-times {
  color: red;
}

.tasklist-item-actions .fa-pencil {
  color: black;
}

.tasklist-item-close {
	background: #96CA2D!important;
}
.tasklist-item-close:hover {
	background: #57D53B!important;
}
.tasklist-item-close > span {
  text-decoration: line-through;
}

.tasklist-item-close .tasklist-item-actions {
  text-decoration: none;
}

.tasklist-item-close .tasklist-item-actions .fa, .tasklist-item-close > span {
  color: black;
}
.user-header{
	width: 100%;
}
.tasklist-item{
	height:50px;
	padding-top: 15px;
	background-color:lightgray;

	@media screen and (max-width: 600px) {
		height: 80px;
	}
}
.tasklist-item:nth-child(odd){
	background-color: #EDEDED;
	color: black;
}
.tasklist-item:hover{
	background-color: white
}
.fa-pencil-square{
	color:black;
}
.fa-window-close{
	color: red;
}
.fa-check-square{
	color: green;
}
.top-bar .top-bar-left, .top-bar .top-bar-right{
	width: auto;
}
.pdf iframe{
	width: 70%;
}
.about{
	margin:auto;
	width: 60%;
}
.img_crea{
	height: 200px;
	width:auto;
	margin: auto;
}
.row{
	max-width: 100%;
}
